__pycache__/__init__.cpython-39.pyc
__pycache__/dataset.cpython-39.pyc
__pycache__/model.cpython-39.pyc
__pycache__/predit.cpython-39.pyc
__pycache__/sage_model.cpython-39.pyc
__pycache__/trainer.cpython-39.pyc
model/events.out.tfevents.1666109630.so01.iem.technion.ac.il
model/events.out.tfevents.1666109682.so01.iem.technion.ac.il
model/events.out.tfevents.1666109798.so01.iem.technion.ac.il
model/events.out.tfevents.1666111397.so01.iem.technion.ac.il
model/events.out.tfevents.1666111502.so01.iem.technion.ac.il
model/events.out.tfevents.1666112111.so01.iem.technion.ac.il
model/events.out.tfevents.1666115515.so01.iem.technion.ac.il
model/events.out.tfevents.1666115737.so01.iem.technion.ac.il
model/events.out.tfevents.1666116782.so01.iem.technion.ac.il
model/events.out.tfevents.1666116869.so01.iem.technion.ac.il
model/events.out.tfevents.1666117049.so01.iem.technion.ac.il
model/events.out.tfevents.1666117182.so01.iem.technion.ac.il
model/events.out.tfevents.1666117343.so01.iem.technion.ac.il
model/events.out.tfevents.1666117446.so01.iem.technion.ac.il
model/events.out.tfevents.1666118253.so01.iem.technion.ac.il
model/events.out.tfevents.1666118275.so01.iem.technion.ac.il
model/events.out.tfevents.1666118506.so01.iem.technion.ac.il
model/events.out.tfevents.1666118727.so01.iem.technion.ac.il
model/events.out.tfevents.1666118777.so01.iem.technion.ac.il
model/events.out.tfevents.1666118786.so01.iem.technion.ac.il
model/events.out.tfevents.1666119340.so01.iem.technion.ac.il
model/model_best.pth
model/model.pth
model/train.txt
baskin2.ipynb
model/events.out.tfevents.1666119801.so01.iem.technion.ac.il
